<form action="/search_id/" method="GET">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">ID</span>
        <input type="text" name="farm_job_id" class="form-control" placeholder="Farm job ID" aria-label="FarmJobID" aria-describedby="basic-addon1">
    </div>
    <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        {% for item in test_list %}
        <option value="{{item}}">{{item}}</option>
        {% endfor %}
    </select>
    <button type="submit" value="search_id" class="btn btn-dark">Search</button>
<form>